@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-center" >Добре дошли </h1>
    <h2 class="display-4 text-center"> в </h2>
    <img src="https://blogifs.azureedge.net/wp-content/uploads/2018/07/4891_blog-size.jpg" class="img-fluid" alt="Responsive image" />
</div>
