@model EmployeeAddModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
           

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Електронна поща...">
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Име...">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <textarea asp-for="LastName" rows="4" class="form-control" placeholder="Фамилия..."></textarea>
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" placeholder="Години...">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" placeholder="Адрес...">
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId"></label>
                <select asp-for="PositionId" class="form-control">
                    @foreach (var position in Model.Positions)
                    {
                        <option value="@position.Id">@position.Title</option>
                    }
                </select>
                <span asp-validation-for="PositionId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control">
                <span asp-validation-for="Salary" class="small text-danger"></span>
            </div>
            

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
