
@{
    ViewBag.Title = "Добавяне на смяна";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ShiftFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}