@model ShiftEditModel

@{
    ViewBag.Title = $"Промяна на смяна от {Model.Date.ToShortDateString()}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ShiftEditFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}